html, body {
    /*max-width: 100%;*/
    overflow-x: hidden; /* hides and prevents horizontal functionality. */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* only hides the scroll bars, x and y. */
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #ECF0F1;
    font-family: Helvetica, Sans-Serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.2rem;
}

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-width: 1300px;
}

main header {
    width: 100%;
    max-width: 1300px;
    background-color: #3199DC; /* #2980B9 é a cor da palheta, achei muito escura, usei color picker nos layouts /* a cor nos layouts está diferente da sugerida na paleta fornecida*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13.4932%;
    padding-top: 15px;
    z-index: 10;
}

/*main header > * {
}*/

main header div.menu{
    display: flex;
    padding: 15px;
}

main header div.menu div.menu-wrapper {
    display: flex;
    width: calc(37px + 2.7%);
    min-width: 20px;
}

main header div.menu div.menu-wrapper:hover {
    opacity: 0.5
}

main header div.menu img {
    /*width: 66.67%;
    min-width: 20px;
    max-width: 50px;
    height: auto;*/
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../slices/mobile/menu-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 80.8510%; /* Mobile Aspect Ratio */
    cursor: pointer;
}

main header .header-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #D0F2FF;
    align-self: flex-end;

    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

main header .header-center div.logo-wrapper {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: calc(160px + 2.7%);
    min-width: 100px;
}

main header .header-center img {
    width: 100%;/*
    min-width: 100px;
    max-width: 230px;*/
    background-image: url("../slices/mobile/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 43.2692%; /* Mobile Aspect Ratio */
}

main header .header-center h1 {
    display: none;
}

main header address {
    display: flex;
    flex-direction: row;
}
main header address a {
    display: none;
    margin-right: 15px;
    cursor: pointer;
}

main header address a:hover {
    opacity: 0.5
}







main .page-content {
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 40px 10px 10px 10px; /*top right bottom left */
}
main .page-content > * {
    /*background-color: lightslategrey; */
    margin-bottom: 10px;
    box-sizing: border-box;
}







/* start section carousel*/
main .page-content section.carousel {
    order: 1;
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    height: auto;
    z-index: 0;
    margin-bottom: 30px;
}

main .page-content section.carousel div.slideshow-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: visible; /* oculta as arrows*/
    position: relative;
}

main .page-content section.carousel div.slideshow-content div.slide{
    position: relative;
    width: 100%;
}

/* all non-specified figure tags*/
figure {
    margin: 0;
}

main .page-content section.carousel figure {
    padding: 0;
    margin: 0;
    position: relative;
}

main .page-content section.carousel div.slideshow-content div.slide div.img{
    width: 100%;
    background-color: lightgray;
    background-image: url("../slices/mobile/image_rotate.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 61.0795%; /* Mobile Aspect Ratio */
}

main .page-content section.carousel div.slideshow-content div.slide h3{
    width: 220px;
    max-width: 90%;
    height: 25px;
    margin: 0px;
    font-size: small;
    background-color: #1595D3;
    padding: 0px 15px;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    z-index: 9;
    font-weight: normal;
}

main .page-content section.carousel div.slideshow-content div.slide p.slide-description{
    position: relative;
    color: #2C3E50;
    font-weight: bolder;
    font-size: 20px;
    margin: 10px 0px;
}

main .page-content section.carousel div.pointer {
    display: flex;
    justify-content: center;
}
main .page-content section.carousel div.pointer div.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #9B9B9B;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

main .page-content section.carousel div.pointer div.dot.active,
main .page-content section.carousel div.pointer div.dot:hover {
    background-color: #19A5EA;
}







/* start section topcacildis*/
main .page-content section.topcacildis {
    order: 2;
    position: relative;
    padding: 0px;
}

main .page-content section.topcacildis h2 {
    position: relative;
    display: none;
}

main .page-content section.topcacildis div.topcacildis-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

main .page-content section.topcacildis div.topcacildis-content figure{
    position: relative;
    margin-bottom: 10px;
}

main .page-content section.topcacildis div figure div.img{
    width: 100%;
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 61.0795%; /* Mobile Aspect Ratio */
}

main .page-content section.topcacildis div figure div.img#highlight01{
    background-image: url("../slices/mobile/highlight-01.png");
}
main .page-content section.topcacildis div figure div.img#highlight02{
    background-image: url("../slices/mobile/highlight-02.png");
}
main .page-content section.topcacildis div figure div.img#highlight03{
    background-image: url("../slices/mobile/highlight-03.png");
}

main .page-content section.topcacildis div figure figcaption{
    max-width: 90%;
    height: 25px;
    margin: 0px;
    font-size: small;
    background-color: #E66A5C;
    padding: 0px 15px;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 18px;
    z-index: 9;
}

main .page-content section.topcacildis div figure div.img#highlight01 + figcaption{
    width: 28.6931%;
    min-width: 112px;
}
main .page-content section.topcacildis div figure div.img#highlight02 + figcaption{
    width: 35.7954%;
    min-width: 86px;
}
main .page-content section.topcacildis div figure div.img#highlight03 + figcaption{
    width: 44.034%;
    min-width: 97px;
}







/* start section divoltisporris*/
main .page-content section.divoltisporris {
    order: 3;
    padding: 0px;
}

main .page-content section.divoltisporris h2 {
    padding: 0px;
    font-weight: normal;
    font-size: 20px;
}

main .page-content section.divoltisporris div.divoltisporris-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

main .page-content section.divoltisporris div.divoltisporris-content article{
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

main .page-content section.divoltisporris div.divoltisporris-content article figure.img{
    width: 100%;
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 61.0795%; /* Mobile Aspect Ratio */
}

main .page-content section.divoltisporris div.divoltisporris-content article figure.img#divoltis01{
    background-image: url("../slices/mobile/divoltis-porris-01.png");
}
main .page-content section.divoltisporris div.divoltisporris-content article figure.img#divoltis02{
    background-image: url("../slices/mobile/divoltis-porris-02.png");
}
main .page-content section.divoltisporris div.divoltisporris-content article figure.img#divoltis03{
    background-image: url("../slices/mobile/divoltis-porris-03.png");
}
main .page-content section.divoltisporris div.divoltisporris-content article figure.img#divoltis04{
    background-image: url("../slices/mobile/divoltis-porris-04.png");
}

main .page-content section.divoltisporris div.divoltisporris-content article h3 {
    font-weight: normal;
    color: #2980B9;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 4px;
}

main .page-content section.divoltisporris div.divoltisporris-content article p {
    margin-top: 0px;
}







/* start section pfes-links*/
main .page-content section.pfes-links {
    order: 4;
    padding: 0;
}

main .page-content section.pfes-links h2 {
    color: #3498DB;
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0px;
}

main .page-content section.pfes-links nav {
    display: flex;
    flex-direction: column;
}

main .page-content section.pfes-links nav a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
}

main .page-content section.pfes-links nav a:hover {
    text-decoration: underline;
}

main .page-content section.pfes-links nav a:last-of-type {
    border-bottom: none;
}







/* start section sepirulita*/
main .page-content section.sepirulita {
    order: 5;
    padding: 0;
}

main .page-content section.sepirulita h2 {
    color: #E84B39;
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0px;
}

main .page-content section.sepirulita article{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

main .page-content section.sepirulita div.sepirulita-content article .img-wrapper{
    position: relative;
    width: 100%;
    margin: 0;
}

main .page-content section.sepirulita div.sepirulita-content article figure.img{
    width: 100%;
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100%; /* Mobile Aspect Ratio */
}

main .page-content section.sepirulita div.sepirulita-content article figure.img#pirulita01{
    background-image: url("../slices/mobile/se_pirulita-01.png");
}
main .page-content section.sepirulita div.sepirulita-content article figure.img#pirulita02{
    background-image: url("../slices/mobile/se_pirulita-02.png");
}

main .page-content section.sepirulita article div{
    margin-left: 15px;
    width: 100%;
}

main .page-content section.sepirulita article div h3{
    color: #E84B39;
    font-size: 14px;
    font-weight: normal;
    margin: 6px 0px;
    margin-bottom: 3px;
}

main .page-content section.sepirulita article div p{
    margin: 0px;
    font-size: 14px;
}








/* start section sucodecevadiss*/
main .page-content section.sucodecevadiss {
    order: 6;
    padding: 0;
}

main .page-content section.sucodecevadiss h2 {
    color: #E84B39;
    font-weight: normal;
    font-size: 20px;
    margin: 10px 0px;
}

main .page-content section.sucodecevadiss article{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

main .page-content section.sucodecevadiss div.sucodecevadiss-content article .img-wrapper{
    position: relative;
    width: 100%;
    margin: 0;
}

main .page-content section.sucodecevadiss div.sucodecevadiss-content article figure.img{
    width: 100%;
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100%; /* Mobile Aspect Ratio */
}

main .page-content section.sucodecevadiss div.sucodecevadiss-content article figure.img#cevadiss01{
    background-image: url("../slices/mobile/suco_de_cevadiss-01.png");
}
main .page-content section.sucodecevadiss div.sucodecevadiss-content article figure.img#cevadiss02{
    background-image: url("../slices/mobile/suco_de_cevadiss-02.png");
}

main .page-content section.sucodecevadiss article div{
    margin-left: 15px;
    width: 100%;
}

main .page-content section.sucodecevadiss article div h3{
    color: #E84B39;
    font-size: 14px;
    font-weight: normal;
    margin: 6px 0px;
    margin-bottom: 3px;
}

main .page-content section.sucodecevadiss article div p{
    margin: 0px;
    font-size: 14px;
}







/* start section banner*/
main .page-content section.banner {
    position: relative;
    order: 7;
    width: 62.66%;
    margin-top: 40px;
    margin-bottom: 115px;
    align-self: center;

}

main .page-content section.banner h6.banner-heading {
    color: lightgray;
    margin: 0px;
    text-align: end;
}

main .page-content section.banner div.banner-img {
    width: 100%;
    background-image: url("../slices/mobile/ads-300x250.png");
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 83.3333%; /* Mobile Aspect Ratio */
}







main footer.footer {
    /*position: absolute;*/
    bottom: 0px;
    width: 100%;
    padding: 0px;
}

main footer > * {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px;
    box-sizing: border-box;
    color: #D0F2FF;
}

main footer .backtotop {
    background-color: #3498DB;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main footer .backtotop .backtotop-wrapper {
    display: flex;
    cursor: pointer;
}

main footer .backtotop .backtotop-wrapper:hover {
    opacity: 0.5;
}

main footer .backtotop h4 {
    margin: 0px 7px;
    font-weight: normal;
    font-size: 14px;
}

main footer .backtotop img {
    display: block;
    object-fit: none;
    margin-top: -2px;
}

main footer .copyright {
    width: 100%;
    background-color: #2C3E50;
}

main footer .copyright .footer-logo-wrapper {
    display: none;
}

main footer .copyright p {
    font-size: 12px;
}

main footer .copyright p a {
    color: #D0F2FF;
}